@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-heading: #12121c;
    --color-text: #222027;
    --color-accentone-100: #f5eef7;
    --color-accentone-200: #eee3f2;
    --color-accentone-300: #e5d4ed;
    --color-accenttwo-100: #d4c6eb;
    --color-accenttwo-200: #745492;
    --color-bordercolor: #73738c;
    --color-gradientthree: #794e8e;
    --color-gradienttwo: #ae4971;
    --color-gradientone: #a8a1d9;
    --color-siteblack: #0a0a0a;
  }
  :root[class~='dark'] {
    --color-heading: #edede3;
    --color-text: #e4e6dd;
    --color-accentone-100: #081011;
    --color-accentone-200: #0d191c;
    --color-accentone-300: #12272b;
    --color-accenttwo-100: #265f5e;
    --color-accenttwo-200: #7fc5c8;
    --color-bordercolor: #7a8b8e;
    --color-gradientthree: #71b1b0;
    --color-gradienttwo: #51b6b6;
    --color-gradientone: #22728b;
  }
  html.dark {
    @apply bg-siteblack;
  }
  body {
    @apply contrast-more:font-medium;
  }
  :not(.flex) > [class*='max-']:not(img, [class*='mx-']) {
    @apply mx-auto;
  }
  :where(a, button, input, textarea):focus-visible {
    @apply outline outline-4 outline-[#ff8800];
  }
  body ::placeholder {
    @apply contrast-more:text-black contrast-more:opacity-100 dark:text-accenttwo-100;
  }
  header {
    @apply pad-wrap gradient-border sticky -top-8 z-50 flex min-h-28 items-center justify-between;
    @apply border-b-2 border-t-[2rem] bg-accentone-100 py-6;
  }
  header > button {
    @apply m-0 pl-4 pr-0 font-urbanist font-medium uppercase tracking-wider text-heading md:font-normal lg:text-2xl;
  }
  nav:not(.no-js-menu) {
    @apply h-10 min-w-36;
  }
  nav:not(.no-js-menu) ul {
    @apply relative right-0 top-6 z-20 m-0 origin-right scale-x-0 text-base shadow-[0_0.128px_1rem_-0.56rem] shadow-black;
    @apply transition-transform duration-200 ease-in-out sm:w-52 md:static md:w-auto md:scale-x-100 md:shadow-none;
  }
  nav:not(.no-js-menu) li {
    @apply block md:inline;
  }
  nav:not(.no-js-menu) a {
    @apply button w-full whitespace-nowrap px-9 py-3 tracking-wider hover:brightness-90 md:w-auto md:px-4 md:py-2 hover:[&.button]:bg-accentone-300;
  }
  nav:not(.no-js-menu) a:not(.hidden) {
    @apply inline-block;
  }
  nav:not(.no-js-menu) a:not([target='blank']) {
    @apply button [&.active]:bg-accentone-300 [&.active]:text-heading hover:[&.active]:brightness-100;
  }
  .hamburger {
    @apply relative z-10 ml-auto block h-10 w-16 px-5 md:hidden;
  }
  .hamburger-line {
    @apply gradient-border absolute top-4 block w-7 rotate-0 border-2 brightness-90 duration-200 ease-in-out first:top-2 last:top-6;
  }
  .closer {
    @apply fixed inset-0 block size-full cursor-default text-transparent;
  }
  .theme-changer {
    @apply relative mx-2 h-8 w-16 rounded-3xl bg-accentone-300 px-4 py-2 md:order-1;
  }
  .theme-changer svg {
    @apply absolute inset-1 size-6 rounded-full bg-accenttwo-200 p-1 text-accentone-100 transition-transform dark:translate-x-8 dark:text-siteblack;
  }
  footer {
    @apply pad-wrap gradient-border min-h-24 border-t bg-accentone-300 py-7;
    @apply contrast-more:bg-accentone-100 dark:bg-accentone-200 md:flex md:items-center md:justify-between;
  }
  footer h2 {
    @apply sr-only;
  }
  footer p {
    @apply m-0 py-1 text-reduced;
  }
  footer p:last-of-type {
    @apply md:pr-16;
  }
  footer p:first-of-type {
    @apply font-urbanist md:pl-16 md:pr-0;
  }
  footer p:first-of-type a {
    @apply inline-block size-6 min-h-full no-underline md:tool-tip;
  }
  footer p:first-of-type svg {
    @apply ml-1 text-3xl md:text-base;
  }
  footer > a {
    @apply mr-auto inline-block px-5 py-2 underline;
  }
  a > *,
  .button {
    @apply transition-[color,background-color] duration-200 ease-in-out;
  }
  .button {
    @apply bg-heading text-accentone-200 no-underline md:hover:bg-accentone-100 md:hover:text-heading;
  }
  html [class*='iconify']:not(.hidden) {
    @apply inline;
  }
  .skip-to-content {
    @apply button sr-only focus:not-sr-only focus:absolute focus:left-4 focus:p-4;
  }
  .heading-one {
    @apply gradient-border inverted mb-7 mt-0 border-b-2 bg-[#eee2f3] px-5 py-10 text-center text-3xl;
    @apply dark:bg-[#0c1b1d] md:text-5xl md:leading-normal;
  }
  .back-to-top {
    @apply button fixed bottom-5 right-5 z-20 rounded-md border-2 border-accentone-300 px-2 py-2 md:tool-tip md:hover:border-heading;
  }
}
