@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Inconsolata";
  font-style: normal;
  font-weight: 400;
  font-stretch: 100%;
  font-display: swap;
  src: url(../../fonts/inconsolata-400.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: "Inconsolata";
  font-style: normal;
  font-weight: 500;
  font-stretch: 100%;
  font-display: swap;
  src: url(../../fonts/inconsolata-500.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(../../fonts/poppins-500.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(../../fonts/poppins-600.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(../../fonts/poppins-800.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: "Source Sans 3";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../../fonts/source-sans-3-400.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: "Source Sans 3";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(../../fonts/source-sans-3-600.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: "Urbanist";
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(../../fonts/urbanist-100-900.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: "FontAwesomeSolid";
  src: url("../../fonts/fa-solid-900.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
@layer base {
  :root {
    --color-textcolor: #12121c;
    --color-accentone-100: #eee3f2;
    --color-accentone-200: #e5d4ed;
    --color-sitebackground: #f5eef7;
    --color-accenttwo-100: #a8a0d9;
    --color-accenttwo-200: #794e8d;
    --color-bordercolor: #73738c;
    --color-gradientthree: #794e8e;
    --color-gradienttwo: #ae4971;
    --color-gradientone: #a8a1d9;
    --color-siteblack: #0a0a0a;
  }
  :root[class~="dark"] {
    --color-textcolor: #edede3;
    --color-accentone-100: #0d191c;
    --color-accentone-200: #12272b;
    --color-sitebackground: #081011;
    --color-accenttwo-100: #265f5e;
    --color-accenttwo-200: #72b1b1;
    --color-bordercolor: #8c8c73;
    --color-gradientthree: #71b1b0;
    --color-gradienttwo: #51b6b6;
    --color-gradientone: #265e44;
  }
  html {
    @apply contrast-more:bg-white;
  }
  html.dark {
    @apply bg-siteblack contrast-more:bg-black;
  }
  :not(.flex) > [class*="max-"] {
    @apply mx-auto;
  }
  a,
  a > *,
  .button {
    @apply transition-[color,_background-color] duration-200 ease-in-out;
  }
  .button {
    @apply contrast-more:!text-white contrast-more:hover:!text-black contrast-more:dark:!text-black contrast-more:dark:hover:!text-white;
  }
  .button.active {
    @apply contrast-more:!text-black contrast-more:dark:!text-white;
  }
  a:focus-visible,
  button:focus-visible,
  input:focus-visible,
  textarea:focus-visible {
    @apply outline outline-2 outline-[#6f00f7];
  }
  html [class*="svg-inline--fa"] {
    @apply align-middle;
  }
  .tab-focus-button {
    @apply button sr-only focus:not-sr-only focus:absolute focus:left-4 focus:p-4;
  }
  .nav-link {
    @apply inline-block w-full whitespace-nowrap py-3 pl-9 pr-9 tracking-wider hover:brightness-90 md:inline-block md:w-auto md:px-4 md:py-2 hover:[&.button]:bg-accentone-200;
  }
  .heading-one {
    @apply gradient-border inverted mb-7 mt-0 border-b-2 bg-[#eee2f3] px-5 py-10 text-center text-3xl leading-normal contrast-more:bg-white dark:bg-[#0c1b1d] md:text-5xl md:leading-normal;
  }
  .overlay:before {
    @apply contrast-more:bg-[#ffffffa8] contrast-more:dark:bg-[#0000578f];
  }
  body ::placeholder {
    @apply contrast-more:text-black;
  }
}
