@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-heading: #12121c;
    --color-text: #222027;
    --color-accentone-100: #f0e0fa;
    --color-accentone-200: #e3c6f2;
    --color-accentone-300: #cfa3e6;
    --color-accenttwo-100: #b39ddb;
    --color-accenttwo-200: #502ab7;
    --color-bordercolor: #5e5e8c;
    --color-gradientthree: #8e24aa;
    --color-gradienttwo: #d81b60;
    --color-gradientone: #7e57c2;
    --color-siteblack: #0a0a0a;
  }
  :root[class~='dark'] {
    --color-heading: #edede3;
    --color-text: #e4e6dd;
    --color-accentone-100: #081011;
    --color-accentone-200: #0d191c;
    --color-accentone-300: #12272b;
    --color-accenttwo-100: #265f5e;
    --color-accenttwo-200: #7fc5c8;
    --color-bordercolor: #7098a0;
    --color-gradientthree: #20dedb;
    --color-gradienttwo: #51b6b6;
    --color-gradientone: #22728b;
  }
  html.dark {
    @apply bg-siteblack;
  }
  body {
    @apply antialiased;
    @apply contrast-more:font-semibold contrast-more:subpixel-antialiased;
  }
  :not(.flex) > [class*='max-']:not(img, [class*='mx-']) {
    @apply mx-auto;
  }
  :where(a, button, input, textarea):focus-visible {
    @apply outline outline-4 outline-offset-2 outline-[#ff8800];
  }
  body ::placeholder {
    @apply contrast-more:opacity-100;
  }
  header,
  footer {
    @apply pad-wrap gradient-border;
  }
  header {
    @apply sticky -top-8 z-50 flex min-h-[7.625rem] items-center justify-between;
    @apply border-b-2 border-t-[1.5rem] bg-accentone-100 py-5;
  }
  header > button {
    @apply m-0 pl-4 pr-0;
    @apply font-urbanist uppercase tracking-wider text-heading;
    @apply md:font-normal lg:text-2xl;
  }
  header > nav {
    @apply h-14 py-1;
    @apply md:min-w-36;
  }
  header > nav ul {
    @apply relative right-0 top-8 z-20 m-0 origin-right scale-x-0;
    @apply text-base shadow-lg shadow-black/10 transition-transform;
    @apply md:static md:scale-x-100 md:shadow-none;
  }
  header > nav li {
    @apply block;
    @apply md:inline;
  }
  header > nav a {
    @apply button;
    @apply relative w-full min-w-[11ch] px-9 py-3;
    @apply whitespace-nowrap text-center;
    @apply md:w-auto md:p-3;
  }
  header > nav a:not(.active) {
    @apply hover-lift;
    @apply md:hover:brightness-90;
  }
  header > nav a:focus-visible {
    @apply z-10;
  }
  header > nav a:not(.hidden) {
    @apply inline-block;
  }
  header > nav a.active {
    @apply bg-accentone-300 text-heading shadow-none;
  }
  footer {
    @apply border-t bg-accentone-300 py-7;
    @apply contrast-more:bg-accentone-100 dark:bg-accentone-200;
    @apply md:flex md:items-center md:justify-between;
  }
  footer h2 {
    @apply sr-only;
  }
  footer p {
    @apply m-0 text-reduced;
  }
  footer p:last-of-type {
    @apply md:pr-16;
  }
  footer p:first-of-type {
    @apply font-urbanist;
    @apply md:pl-16 md:pr-0;
  }
  footer p:first-of-type a {
    @apply inline-block size-6 min-h-full no-underline;
    @apply md:tool-tip;
  }
  footer a svg {
    @apply ml-1 text-3xl;
    @apply md:text-base;
  }
  footer a:hover svg {
    @apply md:text-accenttwo-200;
  }
  footer > a {
    @apply mr-auto inline-block px-5 py-2 underline;
  }
  :where(a > *, .button) {
    @apply transition-[color,background-color];
  }
  [class*='iconify']:not(.hidden) {
    @apply inline;
  }
}

@layer components {
  .hover-lift {
    @apply md:hover:translate-y-[-2px];
  }
  .hamburger {
    @apply relative top-1 z-10 ml-auto block h-10 w-16 px-5;
    @apply md:hidden;
  }
  .hamburger-line {
    @apply gradient-border;
    @apply absolute top-4 block w-7 rotate-0 border-2 brightness-90 transition-all;
    @apply first:top-2 last:top-6;
  }
  .hamburger[aria-expanded='true'] .hamburger-line {
    @apply [&:nth-child(2)]:-rotate-45 [&:nth-child(3)]:rotate-45;
  }
  .hamburger[aria-expanded='true'] .hamburger-line:first-child,
  .hamburger[aria-expanded='true'] .hamburger-line:last-child {
    @apply w-0 -rotate-45 border-0 transition-none;
  }
  .closer {
    @apply fixed inset-0 block size-full cursor-default text-transparent;
  }
  .theme-changer {
    @apply relative ml-2 mr-auto h-8 w-16 rounded-3xl bg-accentone-300 px-4 py-2;
    @apply md:order-1 md:mx-2;
  }
  .theme-changer svg {
    @apply absolute inset-1 size-6 rounded-full;
    @apply bg-accenttwo-200 p-1 text-white transition-transform;
    @apply dark:translate-x-8 dark:text-siteblack;
  }
  .theme-changer:hover svg {
    @apply md:outline md:outline-1 md:outline-accenttwo-200;
  }

  .button {
    @apply bg-heading text-accentone-100 no-underline transition;
    @apply active:scale-95;
    @apply md:hover:bg-accentone-100 md:hover:text-heading;
    @apply md:hover:shadow-sm md:hover:shadow-black/10 md:dark:hover:shadow-white/10;
  }
  .heading-one {
    @apply gradient-border inverted;
    @apply mb-7 mt-0 border-b-2 bg-accentone-100 px-5 py-10;
    @apply text-center text-3xl font-bold;
    @apply md:text-5xl;
  }
  .skip-to-content,
  .back-to-top {
    @apply button;
  }
  .skip-to-content {
    @apply sr-only;
    @apply focus:not-sr-only focus:absolute focus:left-4 focus:p-4;
  }
  .back-to-top {
    @apply hover-lift;
    @apply fixed bottom-5 right-5 z-20;
    @apply rounded-md border-2 border-accentone-300 p-2;
    @apply md:tool-tip;
    @apply md:hover:border-heading;
  }
  .animate-typetext {
    @apply inline-block whitespace-nowrap border-r-2 border-transparent tracking-widest;
  }
  .overlay {
    @apply relative;
  }
  .overlay:before {
    @apply absolute-full z-20 bg-white opacity-50 content-[''];
    @apply contrast-more:opacity-75;
  }
  .overlay > *:not(.cover-image) {
    @apply z-30;
  }
}
