.particle-tech,
.particle-tech + p {
  @apply px-0;
}
ul[aria-label='Medal Criteria'] {
  @apply mb-1 space-y-2 py-3 text-xl;
  @apply sm:flex md:space-y-0 md:text-2xl;
}
ul[aria-label='Medal Criteria'] li {
  @apply mr-9;
}
ul[aria-label='Medal Criteria'] svg {
  @apply text-4xl;
}
.game-container {
  @apply overflow-hidden;
  @apply h-[31.25rem] rounded-br-sm border-2 border-bordercolor pt-28;
  @apply bg-wood bg-cover bg-right;
}
.game-container:not(.done) {
  @apply cursor-grabbing;
}
.game-container.done {
  @apply cursor-default;
}
.completion-message,
.game-container canvas {
  @apply absolute-full;
}
.game-container canvas {
  @apply drop-shadow-[0.063rem_0.063rem_0_#00000061];
}
.play-again {
  @apply mt-0 w-full rounded-b-sm p-3 md:w-fit;
}
.completion-message {
  @apply z-20 bg-white text-center;
}
.completion-message > div {
  @apply absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2;
}
.completion-message p {
  @apply font-sourcesans dark:text-siteblack;
}
