.skills {
  @apply relative mt-12 grid grid-cols-2 gap-x-6 gap-y-16 py-14;
  @apply after:absolute after:inset-12 after:-z-10 after:rounded-full after:bg-accentone-100;
  @apply sm:grid-cols-3 md:grid-cols-4;
}
.skills li {
  @apply min-h-24 text-center;
}
.skills div {
  @apply min-h-12;
}
.skills svg {
  @apply text-5xl;
}
.skills p {
  @apply mb-4 mt-1 text-xl;
}

.swiper .swiper-pagination-bullet:not(#_) {
  @apply relative mx-3 aspect-square size-6;
}
.swiper .swiper-pagination-bullet:not(.swiper-pagination-bullet-active) {
  @apply opacity-100;
}
.swiper .swiper-pagination-bullet:not(.swiper-pagination-bullet-active) {
  @apply bg-siteblack;
}
.swiper .swiper-pagination-bullet-active {
  @apply bg-gradientone;
}
button.carousel-button {
  @apply absolute top-1/2 z-10 -translate-y-1/2 transform px-4 py-1;
  @apply rounded-full bg-accentone-200 shadow-heading transition;
  @apply active:scale-95 active:shadow-none;
  @apply dark:shadow-gradientone;
  @apply md:hover:bg-accenttwo-200 md:hover:text-accentone-100;
}
