.swiper-pagination {
    align-items: center;
    display: flex;
    gap: 4px;
    justify-content: center;
}
.swiper-pagination-bullet.swiper-pagination-bullet-active, .swiper-pagination-bullet:not(.swiper-pagination-bullet-active)  {
    min-height: 10px;
    min-width: 10px;
}
.swiper-pagination-bullet:not(.swiper-pagination-bullet-active) {
    background: #12121c;
    opacity: 1;
}

.swiper-pagination-bullet:hover, .swiper-pagination-bullet:focus-visible {
    border: 2px solid #6f00f7;
}
.swiper-pagination-bullet-active {
    background: #794e8d;
}