.swiper {
    position: relative;
}
.swiper:before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 999999;
    top: 0;
    left: 0;
    box-shadow: inset 0 0 20px -10px black; 
}
.swiper-pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
}
.swiper-pagination-bullet.swiper-pagination-bullet-active, .swiper-pagination-bullet:not(.swiper-pagination-bullet-active)  {
    min-width: 10px;
    min-height: 10px;
}
.swiper-pagination-bullet:not(.swiper-pagination-bullet-active) {
    background: #12121c;
    opacity: 1;
}
.swiper-pagination-bullet-active {
    background: #794e8d;
}